/* Right triangle, placed bottom right side slightly in */
.tri-right.btm-right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 28px;
  bottom: -19px;
  border: 10px solid;
  border-color: #14b8a6 #14b8a6 transparent transparent;
}
.tri-right.point-border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 27px;
  bottom: -21px;
  border: 10px solid;
  border-color: #64748b #64748b transparent transparent;
}

/* Right triangle, placed bottom right side slightly in */
.tri-left.btm-left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 28px;
  right: auto;
  top: auto;
  bottom: -19px;
  border: 10px solid;
  border-color: #d1d5db transparent transparent #d1d5db;
}
.tri-left.point-border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 27px;
  right: auto;
  top: auto;
  bottom: -21px;
  border: 10px solid;
  border-color: #64748b transparent transparent #64748b;
}
